---
title: "Lesson 3: Ruby on the Web"
weight: 50
---

# Lesson 3: Ruby on the Web

## Introduction

### Objectives

In this tutorial we are going to look at:

* using `require` to access other Ruby modules
* using Ruby's `Date` type
* what HTTP is and how it works
* using Google Chrome's Developer tools to inspect HTTP requests
* building a web server with Ruby
* templating HTML
* introducing web security

### Goal

By the end of this tutorial you will have built [this web application](https://apply-for-a-barking-permit.london.cloudapps.digital/):

<a href="https://apply-for-a-barking-permit.london.cloudapps.digital/">
<img src="images/lesson-3/finished-application.png" alt="Apply for a Barking Permit website, showing the form from lesson 1 and the confirmation page">
</a>

You'll have a basic understanding of how web applications work, and a good foundation to build on.

### Further reading
